* {
    border-style: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
  }

html {
    height: 100%;
    background-color: #EAEAEA;
}

.etch-a-sketch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.heading-div{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.description{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    letter-spacing: 5px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.gridBoxes {
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 1px;
}

.grid-container{
    display: flex;
    flex-direction: row;
    max-width: 750px;
    flex-wrap: wrap;
    
}

input {
    width:100px;
}

.inputs {
    display: flex;
    flex-direction: row;
    gap:10px;
}

.black {
    background-color: black;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin-top: auto;
    background-color: #B6B4BB;
    height: 50px;
    justify-content: center;
    align-items: center;
}
