* {
    border-style: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
  }

  html, body {
      min-height: 100vh; 
      min-width: 100vw;
    }

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EAEAEA;
}


.heading-div{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.description{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.heading {
    letter-spacing: 5px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}


.grid-container{
    display: flex;
    flex-direction: row;
    height: auto;
    max-height: 700px;
    max-width: 700px;
    width: auto;
    flex-wrap: wrap;
    
}

.gridBoxes {
    flex: 1 10px;
    height: 10px;
    border-style: solid;
    border-width: 1px;
}


input {
    width:100px;
}

.inputs {
    display: flex;
    flex-direction: row;
    gap:10px;
}

.black {
    background-color: black;
}

.footer{
    display: flex;
    margin-top: auto;
    background-color: #B6B4BB;
    height: 50px;
    justify-content: center;
    align-items: center;
}
